@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a debo applicationg of a Basic CRUD to show the principles of POO and Best practices about code design and architecture.</p>
</div>
